<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>TripleA Blog</title>
</head>
<body>
     <table class="blogBorder" th:each="post: ${posts}">
        <tr class="blogTitle"><td th:text="${post.title}"></td></tr>
        <tr class="blogBody"><td th:text="${post.body}"></td></tr>
        <tr class="blogCreator"><td th:text="${post.creator.userName}"></td></tr>
        <tr class="blogDateTime"><td th:text="${#temporals.format(post.createDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td></tr>
         <tr><table class="commentBorder" th:each="comment: ${post.comments}">
             <tr class="comment"><td th:text="${comment.comment}"></td></tr>
             <tr class="blogCreator"><td th:text="${comment.creator.userName}"></td></tr>
             <tr class="blogDateTime"><td th:text="${#temporals.format(comment.createDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td></tr>
         </table>
             th:text="${#lists.sort(myList, reverse)}"
     </table>
</body>
</html>